@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", serif;
}

.Education_Wrapper{
   position: relative;
}

.Navigation{
   display: flex;
   justify-content: space-between;
   padding: 10px 70px;
   background-color: #2be27a;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
}

.Navigation button{
   background-color: transparent;
   width: 10%;
   padding: 7px 5px;
   border-radius: 25px;
   cursor: pointer;
}

.Nav{
   display: flex;
   align-items: center;
}

.Logo{
   width: 200px;
}

.Logo img{
   width: 100%;
}

.Nav_Item{
   margin: 0 0 0 20px;
}

.Nav_Item ul{
   display: flex;
   cursor: pointer;
}

.Nav_Item ul li{
   padding: 0 15px;
   list-style: none;
   display: flex;
   align-items: center;
}

.Nav_Item ul li svg{
   width: 17px;
   margin: 0 0 0 5px;
}


.Home{
   width: 100%;
   height: 91dvh;
   background-image: url('./Images/Background_Image.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: start;
   align-items: center;
   margin:60px 0 0 0 ;
}

.Meta_Header{
    width: 50%;
   color: #fff;
   margin: 0 0 0 100px;
}

.Meta_Header h3{
   font-family: "Bebas Neue", sans-serif;
   font-size: 50px;
   letter-spacing: 5px;
}

.Btn{
   width: 50%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 60px 0 0 0;
}

.Btn button{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0 5px;
   padding: 15px;
   border: none;
   background-color: #2be27a;
   color: #fff;  
}

.Btn button:nth-child(2){
   background-color: #d0e22b;
   color: #fff;  
}

.Btn button svg{
   width: 13px;
}

.Education_Wrapper_Others{
   width: 85%;
   margin: 0 auto;
}

.Welcome{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
}

.Welcome_Meta{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
}

.Welcome_Meta::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.Welcome_Meta h3{
   font-family: "Bebas Neue", sans-serif;
   font-size: 2.5rem;
   letter-spacing: 6px;
   margin:0 0 15px 0;
}

.Welcome_Meta p{
   font-size: 1.1rem;
   line-height: 25px;
}

.Welcome_Meta_Others{
   width: 100%;
   color: #28445A;
   margin: 70px 0 0 0;
   display: flex;
}

.WMO_Meta{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 10px;
}

.WMO_Meta_Icon{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #28445a07;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 0 20px 0 ;
}

.WMO_Meta_Icon svg{
   width: 30%;
}

.WMO_Meta h3{
   font-size: 1.3rem;
   margin:  0 0 15px 0;
}

.WMO_Meta p{
   text-align: center;
   padding: 0 50px;
}

.Video_Essentials{
   margin:100px 0 50px 0;
   display: flex;
   flex-direction: column;
}

.Education_Video{
   width: 100%;
   height: 80vh;
   background-image: url('./Images/Image_2.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin:0 0 50px 0;
}

.Play_Outer,
.Play_Main{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: #dddddd82;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.Play_Main{
   width: 120px;
   height: 120px;
   background-color: #fff;
}

.Play_Main svg{
   width: 50px;
}

.Essenttials_Data{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   color: #28445A;
}

.Data_Meta{
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.Data_Meta p{
   margin: 15px 0 0 0;
}

.DM_Top{
   display: flex;
   justify-content: left;
   align-items: center;
}

.DMT_Icon svg{
   width: 25px;
   margin: 0 0 0 0;
}

.DM_Top h4{
   margin: 0 0 0 10px;
}
