@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Roboto", serif;
}

.Education_Wrapper{
   position: relative;
}

.Navigation{
   display: flex;
   justify-content: space-between;
   padding: 10px 70px;
   background-color: #2be27a;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
}

.Navigation button{
   background-color: transparent;
   width: 10%;
   padding: 7px 5px;
   border-radius: 25px;
   cursor: pointer;
}

.Nav{
   display: flex;
   align-items: center;
}

.Logo{
   width: 200px;
}

.Logo img{
   width: 100%;
}

.Nav_Item{
   margin: 0 0 0 20px;
}

.Nav_Item ul{
   display: flex;
   cursor: pointer;
}

.Nav_Item ul li{
   padding: 0 15px;
   list-style: none;
   display: flex;
   align-items: center;
}

.Nav_Item ul li svg{
   width: 17px;
   margin: 0 0 0 5px;
}


.Home{
   width: 100%;
   height: 91dvh;
   background-image: url('./Images/Background_Image.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   justify-content: start;
   align-items: center;
   margin:60px 0 0 0 ;
}

.Meta_Header{
    width: 50%;
   color: #fff;
   margin: 0 0 0 100px;
}

.Meta_Header h3{
   font-family: "Bebas Neue", sans-serif;
   font-size: 50px;
   letter-spacing: 5px;
}

.Btn{
   width: 50%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 60px 0 0 0;
}

.Btn button{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0 5px;
   padding: 15px;
   border: none;
   background-color: #2be27a;
   color: #fff;  
}

.Btn button:nth-child(2){
   background-color: #d0e22b;
   color: #fff;  
}

.Btn button svg{
   width: 13px;
}

.Education_Wrapper_Others{
   width: 85%;
   margin: 0 auto;
}

.Welcome{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
}

.Welcome_Meta{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
}

.Welcome_Meta::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.Welcome_Meta h3{
   font-family: "Bebas Neue", sans-serif;
   font-size: 2.5rem;
   letter-spacing: 6px;
   margin:0 0 15px 0;
}

.Welcome_Meta p{
   font-size: 1.1rem;
   line-height: 25px;
}

.Welcome_Meta_Others{
   width: 100%;
   color: #28445A;
   margin: 70px 0 0 0;
   display: flex;
}

.WMO_Meta{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 10px;
}

.WMO_Meta_Icon{
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: #28445a07;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 0 20px 0 ;
}

.WMO_Meta_Icon svg{
   width: 30%;
}

.WMO_Meta h3{
   font-size: 1.3rem;
   margin:  0 0 15px 0;
}

.WMO_Meta p{
   text-align: center;
   padding: 0 50px;
}

.Video_Essentials{
   margin:100px 0 50px 0;
   display: flex;
   flex-direction: column;
}

.Education_Video{
   width: 100%;
   height: 80vh;
   background-image: url('./Images/Image_2.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin:0 0 50px 0;
}

.Play_Outer,
.Play_Main{
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: #dddddd82;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.Play_Main{
   width: 120px;
   height: 120px;
   background-color: #fff;
}

.Play_Main svg{
   width: 50px;
}

.Essenttials_Data{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   color: #28445A;
}

.Data_Meta{
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.Data_Meta p{
   margin: 15px 0 0 0;
}

.DM_Top{
   display: flex;
   justify-content: left;
   align-items: center;
}

.DMT_Icon svg{
   width: 25px;
   margin: 0 0 0 0;
}

.DM_Top h4{
   margin: 0 0 0 10px;
}

.our_services{
   margin: 30px 0 20px 0;   
   background-size: cover;
   color: #28445A;
}

 .line{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
   font-weight: bold;
   font-size: 20px;
} 

.line::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.writing{
   margin: 60px 0 0 0;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background-color: #ffffff90;
   background-size: 400px;
}

.note{
   display: flex;
   flex-direction: column;
   width:500px;
   justify-content: center;
}

.write_Up{
   padding: 25px;
}

.write_Up h1{
   color: #28445A;
   margin: -40px 0 30px 0;
}

.size{
   width:500px;
}

.size img{
   width: 100%;
}

.cotent{
   margin: 13px 0 0 0;
   display: flex;
   align-items: center;
   color: #28445A;
}

.cotent svg{
   padding: 5px;
   width:30px;
}

.apply_1 img{
   border-radius: 10px 0 0 0;
}

.apply_2 img{
   border-radius: 0 0 0 10px;
}

.meta_1{
   margin: 80px 0 20px 0;
   color: #28445A;
}

.heading{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
   font-weight: bold;
   font-size: 45px;
}

.heading::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.wrapper_1{
   margin: 60px 0 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image_wrapper{
   width:800px;
   padding: 20px;
   border-radius: 10px;
   height: 500px;
}

.image_wrapper img{
   border-radius: 25px;
   width: 100%;
   height: 100%;
   padding: 15px;
}

.text_wrapper{
   display: flex;
   flex-direction: column;
   padding: 20px;
 }

.cotent_1{
   display: flex;
   margin: 0 0 20px 0;
}

.cotent_1 h1{
   padding: 3px;
}

.cotent_1 svg{
   width: 30px;
   padding: 3px;
}

.phrase p{
   margin: 0 0 20px 0;
}

.sub-paragraph_3{
   margin: 60px 0 0 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #28445A;
   height: 100px;
   padding: 20px;
 }
.sub-paragraph_3 h1{
   font-size: 30px;
   color: #fff;
}


.button_3{
   background-color: #fff;
   border-radius: 20px;
   padding: 10px;
   font-weight: bold;
}

.sub-paragraph_4{
   margin: 40px 0 0 0;
}

.heading_2{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
   font-weight: bold;
   font-size: 35px;
}

.heading_2::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.text_wrapper_4{
   margin: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   color: #28445A;
}

.note_4{
   justify-content: center;
   align-items: center;
   width:300px;
   padding: 20px;
   text-align: center;
}

.note_4 h1{
   font-size: 30px;
   text-wrap: nowrap;
   margin: 0 0 12px 0;
 }

.cotent_4{
   margin: 0 0 12px 0;
}

.cotent_4 svg{
   width: 30px;
}

.sub-paragraph_5{
   margin: 50px 0 20px 0;
   display: flex;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
   background-color: #294256;
}

.first_column_1{
   display: flex;
   flex-direction: column;
   padding: 30px;
   border: 3px solid #dacf53;
   border-radius: 10px;
   text-align: center;
}

.first_column_1 h1{
   text-wrap: nowrap;
   margin: 0 0 10px 0;
   text-align: center;
}

.first_column_2{
   display: flex;
   flex-direction: column;
   padding: 10px;
}

.first_column_2 h1{
   padding:  0 0 10px 55px;
}

fieldset{
   border: none;
   display: flex;
   flex-wrap: wrap;
   padding: 0 0 0 10px;
   justify-content: center;
   gap:  20px;
}

input{
   width:280px;
   padding:  10px;
   border: none;
}

#name {
   margin: 0 0 4px 0;
}

#phone-number{
   margin: 0 0 4px 0;
}

#submit{
   background-color: #dacf53;
}

.sub-paragraph_6{
   margin: 40px 0 60px 0;
}

.heading_3{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
   font-weight: bold;
   font-size: 20px;
}

.heading_3::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.text_wrapper_5{
   margin: 40px 0 0 0;
   display: flex;
   flex-wrap: wrap;  
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.note_5{
   display: flex;
   flex-direction: column;
   width: 300px; 
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 10px;
   color: #28445A;
   background-color: #f8f5f587;
}

.image_wrapper_2{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 35px;
   width:368px;
   margin: -32px 0 0 0;
}

.image_wrapper_2 img{
   border-radius: 10px 10px 0 0;
   width:100%;
}

.note_5 h1{
   text-wrap: nowrap; 
   margin: 0 0 10px 0;
}

.note_5 h6{
   margin: 0 0 10px 0;
   opacity: 0.8;
   font-weight:normal;
}

.note_5 p{
   margin: 0 0 10px 0;
}

.sub-paragraph_7{
   margin: 100px 0 20px 0;
   background-image: url(../Education/Images/portrait_8.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 40px;
}

.heading_4{
   display: flex;
   align-items: left;
   font-size: 30px;
   color: #dacf53;
   padding: 10px;
}

.heading_4 h1{
   margin: 10px 0 0 0;
}

span{
   color:#0d0d0e;
}

.cotent_5 {
   width: 80px;
   padding: 5px;
}

.text_wrapper_6{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   gap: 78px;
}

.note_6{
   display: flex;
   flex-direction: column;
   padding: 0 0 0 50px;
   color: #fff;
}

.sub-paragraph_8{
   margin: 40px 0 20px 0;
   display: flex;
   padding: 30px;
   justify-content: center;
   align-items: center;
}

.image_wrapper_3{
   width: 200px;
   
}

.image_wrapper_3 img{
   width: 100%;
   border-radius: 10px;
}

.text_wrapper_7{
   padding: 20px;
   display: flex;
   flex-direction: column;
   color: #28445A;
}

.note_7{
   margin: 3px 0 0 0;
}

.note_7 p{
   font-size: 20px;
   opacity: 0.7;
}

.last_column{
   margin: 60px 0 0 0;
}

.last_column h1{
   font-size: 20px;
}

.last_column p{
   padding: 10px 0 0 0;
   opacity: 0.7
}

.sub-paragraph_9{
   margin: 100px 0 40px 0;
   width:1100px;
}

.sub-paragraph_9 img{
   width: 100%;
}

.sub-paragraph_10{
   margin: 40px 0 20px 0;
}

.heading_5{
   margin: 70px 0 0 0;
   text-align: center;
   position: relative;
   color: #28445A;
   font-weight: bold;
   font-size: 20px;
}

.heading_5::after{
   content: '';
   position: absolute;
   bottom: -10px;
   left: 50%;
   transform: translate(-50%);
   width: 70px;
   height: 3px;
   background-color: #28445A;
}

.text_wrapper_8{
   margin: 40px 0 0 0;
   display: flex;
   flex-wrap: wrap;  
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.note_8 {
   display: flex;
   flex-direction: column;
   width: 300px; 
   justify-content: center;
   align-items: center;
   text-align:justify;
   border-radius: 10px;
   color: #28445A;
   background-color: #f8f5f587;
}

.note_8 h1{
   font-size: 24px;
   margin:  0 0 18px 0;
   cursor: pointer;
}

.note_8 h1:hover{
   text-decoration: underline;
}
.note_8 h6{
   opacity: 0.6;
   margin:  0 0 18px 0;
}
.note_8 p{
   padding: 20px;
}


.image_wrapper_4{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 35px;
   width:368px;
   margin: -32px 0 0 0;
}

.image_wrapper_4 img{
   border-radius: 10px 10px 0 0;
   width:100%;
}

.cotent_6{
   display: flex;
   justify-content: left;
   align-items:center;
   margin: 20px 0 0 0;
}

.cotent_6 p{
   padding-inline: 0 0 0 20px;
   cursor: pointer;
}

.cotent_6 p:hover{
   text-decoration: underline;
}

.cotent_6 svg{
   width: 18px;
}

.sub-paragraph_11{
   margin: 120px 0 0 0;
   background-color: #1a1a4a;
}

.text_wrapper_9{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 30px;
}

form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-direction: column;
   padding: 40px;
   background-color: #11112c;
   border-radius: 10px;
}
form h1{
   padding: 0 0 0 10px;
}

form p{
   margin: 0 0 10px 0;
   padding: 0 0 0 10px;
   color: #2b2b31;
}

input{
   width: 200px;
   border-radius: 5px;
}

#submit_1{
   width: 150px;
   background-color: #dacf53;
}

.note_9{
   margin: 20px 0 0 0;
   padding:  0 0 0 100px;
   font-size: 20px;
   color: #fff;
   cursor: pointer;
}

.note_9 h5{
   margin:  0 0 25px 0;
}

.note_9 h5:hover{
   text-decoration: underline;
}


.left_column{
   display: flex;
   flex-direction: column;
   margin: -60px 0 0 0;
}

.cotent_7{
   display: flex;
   align-items: center;
   padding: 0 0 0 150px;
   gap: 10px;
   margin:  20px 0 0 0;
   color: #fff;
   font-size: 20px;
   font-weight: bolder;
   cursor: pointer;
}

.background{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #11112c;
   width: 35px;
   border-radius: 5px;
}

.background svg{
   width: 100%;
   padding: 10px;
}

.text_wrapper_10{
   background-color: #11112c;
   margin: 50px 0 0 0;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 150px;
   padding: 30px;
}

.image_wrapper_5{
   width: 200px;
   cursor: pointer;
}

.text_wrapper_10 h5{
   color: #fff;
}